<link rel="stylesheet" href="/client/components/navbar.css"/>

<div class="container">
  <h2>Stinterest</h2>
  <p>Collection of Pin</p>
  <ul class="nav nav-pills" role="tablist">
    <li class="active"><a href="#">Home</a></li>
      <li><a href="#">User</a></li>
    <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
  </form>
  <li><a href="#">Login</a></li>
  </ul>
</div>

</body>
</html>
